extends page

block content
	form.ui.top.attached.form.segment(name="form")
		h3.ui.header Name
		.ui.massive.fluid.input.field(
			ng-class="{ error: form.name.$touched && form.name.$invalid }"
		)
			input(
				type="text"
				name="name" 
				placeholder="Ex. Agon" 
				ng-model="profile.name" 
				ng-minlength="2" 
				required
			)

		h3.ui.header E-mail
		.ui.massive.fluid.input.field(
			ng-class="{ error: form.email.$touched && form.email.$invalid }"
		)
			input(
				type="email"
				name="email"
				placeholder="Ex. me@company.com"
				ng-model="profile.email"
				required
			)

	// Display input errors, if any
	.ui.bottom.attached.large.error.message(class="fx-fade-up" ng-if="showErrors()")
		i.close.icon(ng-click="showErrors = false")
		.header Oh noes ...
		ng-messages(for="form.name.$error" ng-show="form.name.$touched" multiple): ul.list
			li(ng-message="required") Name is required
			li(ng-message="minlength") Name must be at least 2 characters long

		ng-messages(for="form.email.$error" ng-show="form.name.$touched" multiple): ul.list
			li(ng-message="required" class="fx-fade-right") E-mail is required
			li(ng-message="email" class="fx-fade-right") E-mail is not valid
